# Default ignored files
/.idea/shelf/
# Editor-based HTTP Client requests
/.idea/httpRequests/
/.idea/workspace.xml
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml
.~lock.*
*.mwb.bak
/build
/.gradle
/.idea/gradle.xml